#name {
    size: 40px;
}

.m-menu {
    display: flex;
    background-color: #4F6F52;
}

.m-menu li {
    margin: 20px;
    list-style-type: none;
    color: white;
    margin-left: 0;
}

.m-menu a {
    color: white;
    text-decoration: none;
    padding: 20px;
    margin-left: -10px;
}

.m-menu a:hover {
    background-color: #3A4D39;
    color: #ECE3CE;
}