 #img1 {
     width: 50%;
     margin: 10px;
 }

 #img2,
 #img3 {
     width: 50%;
     margin: 20px;
 }

 #img2 {
     float: right;
 }

 #img3 {
     float: left;
 }


 #img1,
 #img2,
 #img3 {
     max-width: 100%;
     height: auto;
     border-radius: 12px;
 }

 @media (max-width: 600px) {

     #img1 {
         width: 20%;
     }

     #img2 {
         width: 60%;
         height: auto;
     }

     #img3 {
         width: 60%;
         height: auto;
     }
 }