#name {size: 40px;}
.home {
    display: flex;
    background-color: #4F6F52;
}

.home li {
    margin: 20px;
    list-style-type: none;
    color: white;
    margin-left: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.home a {
    color: white;
    text-decoration: none;
    padding: 20px;
}

.home a:hover {
    background-color: #3A4D39;
    color: #ECE3CE;
}







