 #img1,
 #img2 {
     width: 400px;
 }

 #img3,
 #img4 {
     width: 500px;
 }

 #img3 {
     float: right;
 }

 #img4 {
     float: left;
 }


 #img1,
 #img2,
 #img3,
 #img4 {
     max-width: 100%;
     height: auto;
     border-radius: 12px;
 }

 @media (max-width: 600px) {
     #img1,
     #img2 {width: 20%;}
     #img3 {width: 60%;height: auto;}
     
     #img4 {
         width: 60%;
         height: auto;
     }
 }